<!DOCTYPE html>
<html>
<head>
	<title>Generic HTML aight</title>
</head>

<body>
	<h1>Welcome to <%= node["company"] %>!</h1>
	
	<h2>Hello from <%= node["fqdn"] %>!</h2>
	
	<p>
		This server has <%= node["memory"]["total"].to_i / 1024 %> MB of memory
		</br>
		The internal IP address of this server is <%= node["ipaddress"] %>
		</br>
		The operating system is <%= node["platform"] %> <%= node["platform_version"] %>
		</br></br>
		But wait.. there is more.. yes.. you read correclty.. there is more
		</br></br>
		The interface eth0 has a maximum transmission unit of <%= node["network"]["interfaces"]["eth1"]["mtu"] %> bytes
		</br>
		
	</p>
</body>

</html>

